#quiz-container {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 200px;
border: solid black;
width: 400px;
align-items: center;
margin: 0 auto;
background-color: beige;
}


body {
background: linear-gradient(to right, #005aa7, #fffde4);


}

.options {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 10px;

}