*{
    font-family: "Inter", serif;
}

body {
  /* background: linear-gradient(to right, #005aa7, #fffde4); */
  background-color: #ede5ff;
  margin : 0 auto;
  padding: 10% ;
}


#quiz-main {
    display: flex; /* pourquoi flex ? */
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
}

#quiz-header {
    display : inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #874FFF;
    font-weight: 700;
}

#logo-timer {
    display : inline-flex;
    align-items: center;
}
#progress-barre{
    display: flex;
    align-items: center;
    gap: 20px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 220px;
    width: 360px;
    border: 3px solid black;
    border-radius: 5px ;
    padding: 10% 10% 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#question-text {
    padding-bottom: 1em;
    display: block;
    text-align: center;
    font-weight: 700;
    height: 2.5em;
}

    .btn {
        /*display: flex;
        flex-direction: column;
        justify-content: space-between;*/
        /* font-family: "Inter", serif; */
        background-color: #ffffff; 
        color: black;
        border: 2px solid rgba(215, 215, 215, 0.635);
        border-radius: 20px ;
        padding: 0.2em 4em 0.2em 1em;
        margin-bottom: 0.5em;
        text-align: left;
        text-decoration: none;
        display: block 1em; /* j'ai ajouté 1em, cela a donné le résultat voulu (bouton toute largeur), mais je ne sais pas pourquoi ! */
        font-size: 1em;
        width: 100%; 
        transition-duration: 0.4s;
        opacity: 0;
        transition: transform 0.3s ease-out, background-color 0.4s ease; /* Transition de hover */
        animation: scale-in-answer 0.4s ease-out forwards;  /* Animation scale */
    }
    
    /* Animation lors de l'affichage des reponses */
    @keyframes scale-in-answer {
        0% { transform: scale(0); opacity: 0; }
        100% { transform: scale(1); opacity: 1; }
  }
  

    .btn:hover {
        background-color: #b08dc2; 
        border: 2px solid #5a0187;
        opacity: 0.5;
        color: #5a0187;
    }

    .btn:nth-child(1) { animation-delay: 0.1s; }
    .btn:nth-child(2) { animation-delay: 0.2s; }
    .btn:nth-child(3) { animation-delay: 0.3s; }
    .btn:nth-child(4) { animation-delay: 0.4s; }

    #message-final {
        padding-bottom: 1em;
        display: block;
        text-align: center;
        font-weight: 700;
        height: 2.5em;
        }

#quiz-foot {
    margin-top: 0.5em;
    justify-items: end;
}

/* #next-button {
    justify-items: end;
}

#replay-button {
    justify-items: center;
} */

.button-container > button {
    font-weight: 500;
    background-color: #ffffff; 
    color: #b08dc2;
    border: 3px solid #b08dc2;
    border-radius: 20px ;
    padding: 0.2em 1.5em 0.2em 1em;
    margin-bottom: 0.5em;
    text-align: left;
    text-decoration: none;
    display: block; 
    font-size: 1em;
    width: 100%; 
    transition-duration: 0.4s;
    }

.button-container > button:hover {
    background-color: #b08dc2; 
    font-weight: 700;
    border: 2px solid #5a0187;
    opacity: 0.5;
    color: #5a0187;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Animation lors de l'affichage de la question */
@keyframes scale-in-center-normal {0% { transform: scale(0); opacity: 1; } 100% { transform: scale(1); opacity: 1;} }

.scale-in-center-normal { 
    animation: scale-in-center-normal 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}